@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg1.jpg);
    height: 694px;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 694px;
    width: 100%;
    background-color: black;
    opacity: 0.60;
    position: absolute;
    top: 0;
}

nav {
    max-width: 70vw;
    margin: auto;
    /* Margin:auto is used to centre item */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    /* width: 100%; */
    /* padding-top: 3px; */
}

nav img {
    color: rgb(167, 7, 7);
    width: 148px;
    position: relative;
    z-index: 10;
}

nav .button {
    position: relative;
    z-index: 10;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 2%;
    z-index: 10;
    color: white;
    height: calc(100% - 85px);
    /* here our nav height is 85px so hero height is 100% after nav so calc(100% - 85px) */
    /* Helps in responsiveness */
    /* Give space between operator and operand in calc() */
    gap: 20px;
    padding: 0px 30px;
}

.hero span:first-child {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    /* position: relative;
    top: 24px; */
}

.hero span:nth-child(2) {
    font-family: "Poppins", sans-serif;

    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.hero span:nth-child(3) {
    font-family: "Poppins", sans-serif;

    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.line {
    height: 8px;
    width: 100%;
    background-color: rgb(39, 38, 38);
    position: relative;
    z-index: 20;
}

.btn {
    /* padding: 3px 8px; */
    font-weight: 400;
    color: white;
    transition: 0.3s;
}

.btn-gs {
    background-color: rgb(217, 3, 3);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 12px 24px;
    font-size: 21px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(187, 26, 26);
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.hero input {
    padding: 16px 160px 16px 13px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid rgba(246, 238, 238, 0.7);
    background-color: rgba(23, 23, 23, 0.6);
}

.button {
    display: flex;
    gap: 22px;
}

.btn-Signin {
    background-color: rgb(225, 5, 5);
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    padding: 5px 15px;
    cursor: pointer;
}

.Language {
    color: white;
    background-color: rgba(23, 23, 23, 0.5);
    font-size: 17px;
    font-weight: lighter;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
    padding: 5px 25px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 82px;
    gap: 40px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content span:first-child {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 10px;
}

.content span:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.sec1img {
    position: relative;

}

.sec1img img {
    position: relative;
    z-index: 10;
    width: 555px;
}

.sec1img video {
    width: 425px;
    position: absolute;
    top: 73px;
    right: 61px;
}

.second {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 68px;
    gap: 45px;
}

.sec2img img {
    width: 555px;
}

.third {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    margin-top: 82px;
    margin-bottom: 82px;
    gap: 40px;
}

.sec3img {
    position: relative;

}

.sec3img img {
    position: relative;
    z-index: 10;
    width: 555px;
}

.sec3img video {
    width: 352px;
    position: absolute;
    top: 32px;
    right: 97px;
}

.fourth {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 40px;
}
.sec4img img {
    width: 555px;
}

.plus {
    font-size: 45px;
    font-weight: 100;
}

.faq {
  
    padding: 34px;
}

.faq h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px; 
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    display: flex;
    transition: all 1s ease-out;
    background-color: #2d2d2d;
    padding: 7px 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: 8px auto;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

footer {
    max-width: 75vw;
    margin: 60px auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid: 15px;
    margin-bottom: 22px;
}

footer .questions {
    margin-bottom: 25px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: rgb(189, 186, 186);
    cursor: pointer;
}

.footer a {
    font-size: 14px;
    color: rgb(189, 186, 186);
    font-family: "Poppins", sans-serif;
}

.footer-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 18px;
}

footer .end {
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
    color: rgb(189, 186, 186);
    font-size: 13px;
}

@media screen and  (max-width:1200px )  {
       nav{
        max-width: 90vw;
       }
       nav img{
           width: 85px;
       }
       .Language {    
        font-size: 12px;
        border-radius: 5px;
        padding: 5px 7px;
    }
    .button{
        display: flex;
        gap: 9px;
    }
    .btn-Signin {
      
        font-size: 12px;
        border-radius: 5px;
        padding: 5px 7px;
        
    }
       .first{
        flex-wrap: wrap;
       }
       .second{
        flex-wrap: wrap;
       }
       .third{
        flex-wrap: wrap;
       }
       .fourth{
        flex-wrap: wrap;
       }
       .hero span:nth-child(1){
        font-size: 32px;
       }
       .hero span:nth-child(2){
        font-size: 18px;
       }
       .hero span:nth-child(3){
        font-size: 18px;
       }
       .hero-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
       }
    .hero input{
        padding: 16px 60px 16px 13px; 
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    .faqbox{
        font-size: 18px;
        padding: 2px 15px;
    }
    .plus {
        font-size: 40px;
       font-weight: 200;
    }
.content span:first-child {
    font-size: 25px;
    text-align: center;
}
.content span:nth-child(2) {
    font-size: 20px;
    text-align: center;
}
.footer{
    max-width: 90vw;
}
.main {
    background-position: center center;
    background-size: cover;
}
.line{
    position: relative;
    z-index: 10;
}
.sec1img img{
    width: 305px;
}
.sec1img video{
    width: 240px;
    top: 38px;
    right: 25px;
}
.sec2img img{
    width: 305px;
}
.sec3img img{
    width: 305px;
}
.sec3img video{
    width: 188px;
    top: 18px;
    right: 60px;
}
.sec4img img{
    width: 305px;
}
}


@media screen and (max-width:1200px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .footer a{
        font-size: 12px;
        font-weight: 400;
        color: rgb(229, 223, 223);
    }
    .footer-item{
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
    footer .questions {
        font-size: 14px;
        font-weight: 400;
        color: rgb(229, 223, 223);
    }
    footer .button{
        size: 20px;
    }
    
}
